* {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
body {
    background-color: rgba(47, 165, 211, 0.445);
}
nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    transition: 0.4s;
    padding: 90px 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}
header {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
}
footer {
    background-color: black;
    color: white;
    padding: 10%;
}
main {
    text-align: center;
}
#sect1 {
    background-color: rgb(25, 196, 202);
}

#mainheadimg {
    width: 65%;
    vertical-align: middle;
}

#Edot {
    color: rgb(221, 190, 17);
    font-size: 30px;
    border: 2px solid rgb(221, 190, 17);
    padding: 9px 9px 9px 9px;
    border-radius: 10px;
    height: fit-content;
    margin-right: 30px;
}
.hds {
    font-size: 35px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 15px;
}

.mpra {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    margin: 12px;
    font-size: large;
}
.secpra {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 8px;
    font-size: larger;
    font-weight: bold;
    color: rgb(0, 47, 255);
}
.spinfo {
    color: aliceblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    font-size: larger;
    font-weight: bolder;
}
hr {
    height: 1px;
    background-color: rgb(0, 47, 255);
    border-top: 1px solid #ebebeb;
    display: block;
    position: relative;
    top: 1px;
    margin: 10%;
    border: none;
}
#contact {
    border-bottom: 2px solid gold;
}
#continfo {
    margin: 20px;
}
#aboutus_footer {
    border-bottom: 2px solid gold;
}
#ourinfo_footer {
    margin: 20px;
}
.spcont {
    display: block;
}
.boxx {
    background-color: #fff;
    margin: 3%;
    border-radius: 15px;
}
